RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(public|assets|css|js|fonts|image|img|robots\.txt) 

RewriteRule ^(.+)$ routes/index.php/$1 [L]