RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ routes/index.php?url=$1 [QSA,L]


RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?oztech.com.ng$
RewriteCond %{REQUEST_URI} !^/routes/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /routes/$1

RewriteCond %{HTTP_HOST} ^(www.)?oztech.com.ng$

RewriteRule ^(/)?$ routes/index.php [L]